$color_letras_logo: purple;

$color_h1: gray;

$color_h2: black;

$color_h3: red;

$color_h4: blue;

$color_l_nav-item: green;

$color_parrafos: grey;

$letras_footer: brown;

$letras_div_footer: coral;