img{
    .logo_header{
        max-width: 100px;
    }
    .d-block{
        width: 500px;
    }
    .logo_index_mvv{
        max-width: 220px;
    }
    .img_mvv{
        max-width: 150px;
    }
    .imagen_footer{
        max-width: 100px;
    }
}