h1 {
    color: $color_h1;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

h2 {
    color: $color_h2;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-weight: 400;
}


.h3 {
    color: $color_h3;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-weight: 700;
}

.h4 {
    color: $color_h4;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-weight: 700;
}